* { margin: 0; padding: 0;}

body, html { 
    height:100%; 
}
.container{
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start; */
    padding:0.5em 2em;
    z-index: 2;
    position: relative;
    background-color: rgb(225, 225, 252);
}
.sound{

}
.text_value{
    padding: 0.25em;
}
.button_clear{
    padding: 0.25em;
}
.label{
    padding: 1em;
    border: 1px solid grey;
    border-radius: 5px/5px; 
}   
.controls{
    padding: 0.5em 0;
}
.canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(229, 248, 229);
}